orbs:
  architect: giantswarm/architect@0.8.6

version: 2.1

workflows:
  build:
    jobs:
      - architect/go-build:
          name: go-build
          binary: kvm-operator
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-kvm-operator-to-quay
          image: "quay.io/giantswarm/kvm-operator"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: push-kvm-operator-to-control-plane-app-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "kvm-operator"
          requires:
            - push-kvm-operator-to-quay
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/
